*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body{
    background-color: grey;
}

.navbar{
    overflow: hidden;
    background-color: #333;
}

.navbar a{
    color:grey;
    padding: 16px 14px;
    text-align: center;
    display: block;
    float: left;
    text-decoration: none;
    
}

.navbar a:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
}

.navbar a.home{
    color: white;
}

.navbar a.home:hover{
    background-color: green;
    transition: 0.5s;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 5px;
    padding: 5px;
}

.card .titulo{
    font-size: 1.9em;
    color: black;
    font-family: fantasy;
    overflow: hidden;
}

.imagem {
    margin-top: 2%;
    width: 90%;
    height: 10em;
    border: 1px solid black;
    box-shadow: 1px 1px 20px;
}

.sinopse{
    font-size: 1em;
    margin-top: 20px;
    color: grey;
    text-align: center;
}

.acessar{
    font-size: 1em;
    margin-top: 20px;
    display: block;
    background-color: gold;
    color: black;
    width: 40%;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
    text-decoration: none;
    overflow: auto;
    cursor: pointer;
}

.acessar:hover{
    transition: 0.5s;
    background-color: rgb(255, 241, 164);
    color: black;
}